{% extends "padre.html" %}

{% block title %}
    <title>SER noticias - About</title>
{% endblock %}

{% block contenido %}
    <div style="display: grid; grid-template-rows: 50px 18px 100%; grid-template-columns: 800px; justify-content: center; margin-top: 40px;">
        <h1 style="margin: 10px;">Acerca de mí</h1>
        <hr>
        <div style="padding: 8px;">
            <p>
                Soy Juan de Dios, el único creador de este sitio web. Para este proyecto se me ocurrió hacer un sitio de noticias de Argentina.
                En este sitio web hay noticias reales, extraídas de otros sitios similares. Además, hay un sistema de perfiles en donde el usuario puede registrarse,
                ver su perfil, editar su información y avatar.
                <br>
                <br>
                También hay un sistema de validaciones, en el cual se verifica si el usuario tiene una sesión iniciada. Si no la tiene o si es un administrador, se aplican distintas funciones.
                Por ejemplo, si no tienes una sesión iniciada, no podrás ver las noticias completas; y si eres administrador, podrás crear artículos y editar todo sobre un artículo en específico (imagen, título, subtitulo, cuerpo, autor y fecha).
                <br>
                <br>
                El sitio web no tiene mucho más en sí, pero destaco lo bien que quedó visualmente y lo bien que funciona.
                <br>
                <br>
                Muchas gracias por haber visitado mi proyecto. ¡Por favor, denme una buena calificación o me pondré triste!
                <br>
                <br>
                Juan de Dios Franco
            </p>
        </div>
    </div>
{% endblock %}