<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
        <title>{{titulo}}</title>
    </head>
    <body>
        <div style="display: flex; min-height: 670px; justify-content: center; align-items: center;">
            <div style="text-align: center;">
                <h2>{{mensaje1}}</h2>
                <br>
                {% if mensaje2 %}
                    <a href="{{url1}}" class="btn btn-primary">{{mensaje2}}</a>
                {% endif %}
                {% if mensaje_url1 %}
                    <a href="{{url1}}" style="margin: 8px;">{{mensaje_url1}}</a>
                    <a href="{{url2}}" style="margin: 8px;">{{mensaje_url2}}</a>
                {% endif %}
            </div>
        </div>
    </body>
</html>
